# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Environment
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# System
.DS_Store
Thumbs.db

# Temp
*.tmp
*.bak
*.swp
*.swo
*.~ 
*.png
*.jpg

# Output
outputs/
screenshots/
temp/
cache/
*.sqlite3

# Pip tools
pip-wheel-metadata/
*.dist-info/
